<div class="col-md-12">
  <div class="list-group">
    <div class="list-group-item active">
      <div class="row">
        <div class="col-md-8 col-sm-8 col-xs-8">
          <h3>Todo list</h3>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4">
          <div class="row row-nw">
            <button class="btn btn-danger btn-xs right-align" ng-click="removeMaked()">Remove marked</button>
            <select ng-model="filterTodo" class="right-align font-color">
              <option value="">All</option>
              <option value="true">Marked</option>
              <option value="false">Unmarked</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <list-item-component></list-item-component>
  </div>
</div>
